.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel {
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 315px;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
  color: white;
}

li {
  list-style: none;
}

.body {
  background-color: gray;
}

.main-part {
  height: 400px;
  background-color: green;
  color: white;
  font-family: "Roboto Slab";
}

.main-part h1 {
  padding-top: 150px;
}

.cards-div h2 {
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cards-div {
  padding-bottom: 50px;
}

li {
  font-size: 25px;
}

.background-div {
  color: white;
}

.skills-div {
  padding-bottom: 75px;
  color: white;
}

h3 h4 {
  font-weight: bold;
}

.text-left {
  padding-left: 300px;
}

.startLower {
  padding-top: 40px;
}

.center-self {
  justify-content: center;
}
